---
layout: default
title: About
i18n-link: about
lang: en
page_section_title: "About Us"
---
<section class='page_section'>
  <div class="container">
    <h2 class="title_about">{{ page.page_section_title }}</h2>
    <div class="about_block">
      <div class="img_block">
        <img src="{{ site.baseurl }}/assets/img/misc/about.svg" alt="about">
      </div>
      <aside class="about_blocks">
        {% for block in site.data.en.aboutpromo %}
          <div class="block">{{ block.content | markdownify }}</div>
        {% endfor %}
      </aside>
    </div>

    <div class="questions_block">
      <div class="question">
        {% for item in site.data.en.about %}
          {% if forloop.first == true %}
            <h3>{{ item.main_title }}</h3>
          {% else %}
            <div class="question_contet">
              <h4>{{item.title}}</h4>
              {{ item.content | markdownify }}
            </div>
          {% endif %}
        {% endfor %}

        {% for question in site.data.en.questions %}
          {% if forloop.first == true %}
            <h3>{{ question.main_title }}</h3>
          {% else %}
            <div class="question_contet">
              <h4>{{question.title}}</h4>
              {{question.content | markdownify }}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="contacts">
        <div class="contact_block">
          <h2>{{ site.data.en.contact.stitle.section_title }}</h2>
          <div class="blocks_with_contact">
            {% include contact.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
