---
layout: default
title: Imprint
permalink: /de/imprint/
i18n-link: imprint
lang: de
key: imprint
description: "Impressum und rechtliche Hinweise von socket.de. Hier finden Sie Informationen zu unserem Firmensitz, den gesetzlichen Vertretern und Kontaktdaten."
keywords: "Impressum, rechtliche Hinweise, Kontaktinformationen, Anbieterkennzeichnung, socket.de rechtlich, Firmendaten"
---
{% include header.html %}
<section class='page_section'>
	<div class="container">
		{% assign iblock = site.data.de.imprint.first %}
		{% assign isize = site.data.de.imprint.size %}
		{% assign iitems = site.data.de.imprint | slice: 1, 10 %}
		<h2 class="title_imprint">{{ iblock.title }}</h2>
		<div class="imprint_block">
			<aside class="imprint_blocks">
				{% for block in iitems %}
				<br />
				<h3 class="title_imprint">{{ block.title }}</h3>
				<br />
				<div class="block">{{ block.content | newline_to_br | markdownify }}</div>
				{% endfor %}
			</aside>
		</div>
	</div>
</section>
{% include footer.html %}