---
layout: default
title: Offer
permalink: /de/offer/
i18n-link: offer
lang: de
page_section_title: "Eigene Cloud"
key: private cloud
description: Erfahren Sie mehr über die Geschichte von socket.de...
keywords: über uns, geschichte, team, unternehmen, cloud-lösungen
---
<section class='page_section'>
	<div class="container">
		<h2 class="title_about">{{ page.page_section_title }}</h2>
		<div class="questions_block">
			<div class="question">
				<div class="list_block">
					{% for i in site.data.de.offer.content %}
					<div>
						<p>{{i.title}}</p>
						<ul>
							{% for e in i.items %}
							<li>{{ e }}</li>
							{% endfor %}
						</ul>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% include footer.html %}
