---
layout: default
title: Offer
permalink: /de/offer/
i18n-link: offer
lang: de
key: private cloud
description: "Private-Cloud-Consulting, Architektur und Umsetzung mit OpenStack und Ceph. Festpreis, klares Ergebnis. Für Teams die es richtig machen wollen."
keywords: "OpenStack Consulting, OpenStack Architektur, Private Cloud consulting, OpenStack Umsetzung, Ceph Consulting, Private Cloud Architecture Germany, OpenStack Berater DACH."
---
{% include header.html %}
<section class='page_section'>
	<div class="container">
		<h2 class="title_about">{{ site.data.de.offer.main_title }}</h2>
		{{site.data.de.offer.main_content}}
		<div class="questions_block">
			<div class="question">
				<div class="list_block">
					{% for i in site.data.de.offer.content %}
					<div>
						<p>{{i.title}}</p>
						{{i.content | markdownify}}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% include footer.html %}
