---
layout: default
title: Services
i18n-link: services
lang: de
---
<section class='page_section'>
  <div class="container">
    <h2>{{ site.data.de.promoservices.stitle.section_title }}</h2>
    <div class="services_blocks">
      {% assign blocks = site.data.de.promoservices.sdata %}
      {% for service in blocks  %}
        <div class="service_block">
          <div class="service_img">
            <img src="{{ site.baseurl }}/assets/img/services/{{ service.image }}" alt="{{ service.title }}">
          </div>
          <div class="service_text">
              <h3>{{ service.title }}</h3>
              {{ service.content | markdownify }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</section>
<section>
  <div class="container">
    {% include technology.html %}
  </div>
</section>
