---
layout: default
title: vna
i18n-link: vna
lang: de
page_section_title: "Skill Profile"
---

<section class='page_section'>
  <div class="container">
    <h2 class="title_about">{{ page.page_section_title }}</h2>
    <div class="questions_block">
      <div class="question">
        {% assign table = site.data.de.vnatable %}
        <table id="nptable" >
          <tr>
            <td rowspan="6"><img src="https://www.xing.com/image/0_e_2_8e340a718_11349211_5/vladislav-nazarenko-foto.1024x1024.jpg"/></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          {% for row in table %}
            {% tablerow cells in row %}
              {{ cells[1] }}
            {% endtablerow %}
          {% endfor %}
        </table>
        <div class="list_block">
          {% for item in site.data.de.vnalists.firstlist %}
          <div >
            <p>{{item.title}}</p>
            <ul>
              {% for entry in item.subfolderitems %}
                <li>{{ entry }}</li>
                {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <div class="list_block">
          {% for item in site.data.de.vnalists.secondlist %}
          <div >
            <p>{{item.title}}</p>
            <ul>
              {% for entry in item.subfolderitems %}
                <li>{{ entry }}</li>
                {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <div class="list_block">
          {% for item in site.data.de.vnalists.thirdlist %}
          <div >
            <p>{{item.title}}</p>
            <ul>
              {% for entry in item.subfolderitems %}
                <li>{{ entry }}</li>
                {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <div class="list_block">
          {% for item in site.data.de.vnalists.lastlist %}
          <div >
            <p>{{item.title}}</p>
            <ul>
              {% for entry in item.subfolderitems %}
                <li>{{ entry }}</li>
                {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        {% include technology.html %}
      </div>
      <div class="contacts">
        <div class="contact_block">
          <h3>{{ site.data.de.contact.stitle.section_title }}</h3>
          <div class="blocks_with_contact">
            {% include contact.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
