# Jekyll & Build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependencies
vendor/
node_modules/
Gemfile.lock
package-lock.json
npm-shrinkwrap.json

# OS files & Testing
./.DS_Store
*.DS_Store
test/
_data/en/privatepolicy_origin.yml
_data/de/privatepolicy_origin.yml
_sass/_policys.scss
