---
layout: default
title: Main page
i18n-link: index
lang: de
---
<section class="top_section">
  <div class="container">
    <div class="promo_block">
      {% assign mpromo = site.data.de.promotext %}
      {% for item in mpromo %}
      <div class="promo_text">
        <h1>{{ item.title }}</h1>
        {{ item.content | markdownify }}
      </div>
      <div class="promo_img">
        <img src="{{ site.baseurl }}/assets/img/misc/{{ item.image }}" alt="{{ item.title }}">
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="arg_block">
  <div class="container">
    <div class="intro-title">
      {% assign iblock = site.data.de.introblock %}
      {% for item in iblock %}
      <h3>{{ item.title }}</h3>
        <p>{{ item.content | markdownify }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="intro-block">
    <div class="container">
      <div class="promo-blocks">
        {% assign blocks = site.data.de.promoblocks %}
        {% for block in blocks %}
          <div class="promo-block">
            <img src="{{ site.baseurl }}/assets/img/icons/{{ block.image }}" alt="{{ block.title }}">
            <h3>{{ block.title }}</h3>
            {{ block.content | markdownify }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="benefits_section">
  <div class="container">
    <div class="blocks">
        <div class="block">
          {% assign blocks = site.data.de.benefitsblocks %}
          {% for block in blocks %}
          <div class="item_img">
            <img src="{{ site.baseurl }}/assets/img/benefits/{{ block.image }}" alt="{{ block.title }}">
          </div>
          <div class="">
            <h3>{{ block.title }}</h3>
            {{ block.content | markdownify }}
          </div>
          {% endfor %}
        </div>
        <div class="block">
          {% assign blocks = site.data.de.benefitsright %}
          {% for block in blocks %}
            <div class="item">
              <h3>{{ block.title }}</h3>
              {{ block.content | markdownify }}
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    {% include technology.html %}
  </div>
</section>
<section>
  <div class="container">
    {% assign heading = site.data.de.promoservices.stitle.section_title %}
    <h2>{{ heading }}</h2>
    {% assign fsvc = site.data.de.promoservices.sdata | slice: 1, 10 %}
    <div class="tabs_block">
      <ul class="tabs">
        {% for s in fsvc %}
          {% if forloop.first == true %}
          <li class="active">
            <a href="">{{ s.title }}</a>
          </li>
          {% else %}
          <li>
            <a href="">{{ s.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tabs-content">
        {% assign count = 0 %}
        {% for service in fsvc %}
          {% if forloop.first == true %}
            <div class="tabs-panel active" data-index="{{ count }}">
              <h3>{{ service.title }}</h3>
              {{ service.content | markdownify }}
            </div>
          {% else %}
          {% capture count %}{{ count | plus:1 }}{% endcapture %}
            <div class="tabs-panel" data-index="{{ count }}">
              <h3>{{ service.title }}</h3>
              {{service.content | markdownify }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% comment %}
<section>
  <div class="container">
    <h2>Unsere Kunden</h2>
    <div class="clients_main_block">
      <div class="clients">
        {% for client in site.data.promo-clients %}
          <div class="tech">
            <a href="{{ site.baseurl }}/clients.html">
              <img src="{{ site.baseurl }}/assets/img/clients/{{ client.image }}" alt="{{ client.title }}">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endcomment %}
<section>
  <div class="container">
    <h2>{{ site.data.de.contact.stitle.section_title }}</h2>
    <div class="info_block">
      <div class="contact_block">
        {% include contact.html %}
      </div>
      <div class="map_block">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>
