{% for contact in site.data.contact %}
    <div class="block">
        <p>{{ contact.title }}</p>
        {% if forloop.first == true %}
          <a href="tel:{{ contact.phone }}" class="contact_phone">{{ contact.phone }}</a>
          <a href="mailto:{{ contact.email }}" class="contact_email">{{ contact.email }}</a>
        {% else %}
          # start here
          {% for line in (contact.address | split("\n")) %}
            <a href="#" class="contact_email">{{ line }} </a>
          {% endfor %}
        {% endif %}
    </div>
{% endfor %}
