<footer>
  <div class="container">
    <div class="footer">
      <div class="logo">
        {% if page.lang == "de" %}
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/icons/logo_Socket.svg" alt="logo"></a>
        {% else %}
        <a href="{{ site.baseurl }}/en/"><img src="{{ site.baseurl }}/assets/img/icons/logo_Socket.svg" alt="logo"></a>
        {% endif %}
      </div>
      {% include nav.html navclass='nav-footer' %}
      <div class="footer_icon">
        <ul>
          {% for link in site.data.social %}
            <li><a href="{{ link.link }}" target="_blank"><img src="{{site.baseurl}}/assets/img/icons/{{ link.image }}" alt="{{link.title}}"></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="copyright">
      <!-- FIXME -->
      <span>&copy; {{ "now" | date: "%Y" }} Alle Rechte vorbehalten.</span>
    </div>
  </div>
</footer>
