<div class="technology_block">
  {% assign heading = site.data.technology.first %}
  <h3>{{ heading.section_title }}</h3>
  <div class="technologies">
    {% for tech in site.data.technology offset:1 %}
    <div class="tech">
        <!--img src="{{ site.baseurl }}/assets/img/techstack/{{ tech.image }}" alt="{{ tech.title }}"-->
        <img width=50 height=50 src="{{ site.baseurl }}/assets/img/techstack/{{ tech.image }}" alt="{{ tech.title }}">
        <br/>
<!-- <span>{{ tech.title }}</span> -->
        <a href="{{ site.baseurl }}/services.html">{{ tech.title }}</a>
    </div>
    {% endfor %}
  </div>
</div>
