.list_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
  div {
    width: 100%;
		transition: 0.2s;
		border-radius: 10px;
		padding: 40px 30px;
		background-color: $block_color__background;

		p {
			margin-bottom: 20px;
			color: $main_color__blue;
		}

    ul {
      li {
        line-height: 31px;
        list-style-type: " - ";
        list-style-position: inside;
      }
    }
		.last_items {
			display: flex;
			flex-wrap: wrap;
  		gap: 30px;
			li {
				flex: 1 0 15%;
				display: block;
				text-align: center;
				align-content: center;
				img {
					margin: 0 auto;
					// width: 80%;
				}
			}
			
		}
  }


  }
