*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: $main_color__background;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}
img{
  display: block;
  height: auto;
  max-width: 100%;
}
ul,ol{
  list-style: none;
}
a {
  text-decoration: none;

}
.wrapper,
footer{
  // padding: 0 15px;
}
header,
footer{
  flex: 0 0 auto;
}
.wrapper{
  flex: 1 0 auto;
  position: relative;
}
h2,
h3,h4{
  color: $main_color__blue;
}
.container{
  max-width: 1214px;
  width: 100%;
  margin: 0 auto;
}
.top_section {
  margin-bottom: 0;
}
.benefits_section {
  margin-bottom: 106px;
}
.arg_block {
  margin-bottom: 50px;
}
section {
  margin-bottom: 170px;
  h2 {
    @include rem(90);
    font-weight: 500;
  }
}
.page_section{
  margin-top: 100px;
  margin-bottom: 170px;
  h2 {
    @include rem(70);
    // &.title_about{
    //   text-align: center;
    // }
  }
  h3{
    @include rem(50);
    line-height: 85px;
    font-weight: 500;
  }
}
#map{
  height: 100%;
}
.lang {
  ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    li {
      padding: 4px;
      a {
        @include rem(20);
        font-weight: 500;
        color: $main_color__text;
        text-transform: uppercase;
        &:hover {
          color: $main_color__blue;
        }
        &.current{
          color: $main_color__blue;
        }
      }

    }
  }

}
