section{
  margin-bottom: 170px;
  .service_block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
    .service_img{
      justify-self: center;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }
    .service_text {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3{
        margin-bottom: 30px;
        @include rem(40);
        color: $main_color__text;
        font-weight: 500;
        line-height: 56px;
      }
      p{
        @include rem(18);
        line-height: 28px;
      }
      ul {
        list-style: disc;
        list-style-position: inside;
        margin: 10px 0 10px 20px;
        li {
          line-height: 28px;
          @include rem(18);
        }
      }
    }
    &:nth-child(even){
      .service_img {
        order: 2;

      }
      .service_text {
        order: 1;

      }
    }
    &:nth-child(odd) {
      .service_img {
        order: 1;
      }
      .service_text {
        order: 2;
      }
    }
  }
}
