@use 'colors' as *;
@use 'mixins' as *;
.sticky-contacts-container {
    display: none;
    @include breakpoint(768px) {
      display: block;
      position: fixed;
      bottom: 25px;
      right: 20px;
      z-index: 2000; 
    }
  }
  
  .sticky-trigger {
    background: $main_color__blue; 
    color: $white_color;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    box-shadow: 0 4px 15px $grey_box-shadow;
    cursor: pointer;
    outline: none;
    @include rem(20);
    font-weight: 400;
  }
  
  .sticky-panel {
    position: absolute;
    bottom: 70px; 
    right: 0;
    width: 240px;
    display: flex;
    flex-direction: column;
    background: $white_color;
    border-radius: 10px;
    box-shadow: 0 4px 12px $grey_box-shadow;
    border: 1px solid #e2e8f0;
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  
  .sticky-link {
    
    color: $main_color__blue;
    padding: 16px;
    
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
    
  }