table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
	
  th, td {
    //border: 1px solid $table_border__color;
    &.tab_img {
			// padding: 30px 30px 30px 0;
			width: 25%;
		}
		&.col1,
		&.col2 {
			padding: 0 0 0 35px;
		}
		&.col1 {
			color: $main_color__blue;
			font-weight: bold;
		}
		&.col2 {	
			width: 35%;
			text-align: right;
		}
  }
}
//#nptable tr:nth-child(even){background-color: $block_color__background;}
// #nptable tr:hover {background-color: #ddd;}
