table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  th, td {
    border: 1px solid $table_border__color;
    padding: 12px 5px;
  }
}
#nptable tr:nth-child(even){background-color: $block_color__background;}
#nptable tr:hover {background-color: #ddd;}
