<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

    <head>
        <!-- <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="ed20aee7-67bf-4544-83a6-d8fa59be6e43" data-blockingmode="auto" type="text/javascript"></script> -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="lang" content="{{ page.lang }}">
        <link rel="stylesheet" href="/assets/style.css">
        {%- assign current_lang = page.lang | default: site.lang | default: 'en' -%}
        {%- assign final_description = page.description -%}     
        {%- if final_description == nil -%}
            {%- assign final_description = site.seo_description[current_lang] -%}
        {%- endif -%}
        {%- if final_description %}
            <meta name="description" content="{{ final_description | escape }}">
        {%- endif %}
        {%- assign final_keywords = page.keywords %}
        {%- if final_keywords == nil %}
            {% assign final_keywords = site.seo_keywords[current_lang] %}
        {%- endif %}
        {%- if final_keywords %}
            <meta name="keywords" content="{{ final_keywords | escape }}">
        {%- endif %}
        
        {% seo %} 

        {%- include head-seo-hreflang.html %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">      
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1029212389"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'AW-1029212389');
        </script>
        
    </head>

    <body>
        {% include menu_hamb.html %}
        <div id="loader" class="preloader"></div>
        <main id="page-content">
            {{ content}}
        </main>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ site.data.settings.google_maps_conf.key }}&callback=initMap&libraries=&v=weekly">
            </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/main.js"></script>
        <script src="{{ site.baseurl }}/assets/js/errors/errors.js"></script>
    </body>

</html>
